@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <p>
        <a asp-controller="Products" asp-action="Index">Продукция</a>
    </p>
    <p>
        <a asp-controller="Trademarks" asp-action="Index">Торговые марки</a>
    </p>
    <p>
        <a asp-controller="ProductTypes" asp-action="Index">Типы продукции</a>
    </p>
    <p>
        <a asp-controller="Flavors" asp-action="Index">Разновидности</a>
    </p>
    <p>
        <a asp-controller="Weights" asp-action="Index">Фасовки</a>
    </p>
    <p>
        <a asp-controller="FormatTubes" asp-action="Index">Форматные трубы</a>
    </p>
    <p>
        <a asp-controller="Orders" asp-action="Index">Заказы</a>
    </p>
    <p>
        <a asp-controller="Distributors" asp-action="Index">Заказчики</a>
    </p>
    <p>
        <a asp-controller="PackagingMachines" asp-action="Index">Упаковочные автоматы</a>
    </p>
    <p>
        <a asp-controller="PackagingAutomation" asp-action="Index">Автоматизация упаковки</a>
    </p>
</div>
